[user]
    name = Bertrand31
    email = bertrandjun@gmail.com
[push]
    default = simple
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[core]
	editor = /home/bertrand/Code/nvim-linux64/bin/nvim
    excludesfile = ~/.gitignore
    pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
    diffFilter = diff-so-fancy --patch
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
    [diff]
        meta = 11
        frag = magenta bold
        func = 146 bold
        commit = yellow bold
        old = red bold
        new = green bold
        whitespace = red reverse
    [diff-highlight]
        oldNormal = red bold
        oldHighlight = red bold 52
        newNormal = green bold
        newHighlight = green bold 22
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[init]
	defaultBranch = master
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
